@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');


html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


body{
  font-family: 'Livvic', sans-serif , cursive;
}

.inner-container{
  width: 90%;
  max-width: 1200px;
  /* border: 5px solid #1b1b1b; */
  margin-left: auto;
  margin-right: auto;
}
  
.top-header{
  padding: 1em 0;
  background-color: #1b1b1b;
}

/* navbar creation */





.navbar__flex-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding : 0;
  background: #1b1b1b;
  flex-flow: row wrap;
  

}


.navbar__flex-item {
  color: #fff;
  font-size: 2em;
  margin: .5em;
  padding: .5em;
  transition: all 1s;
  flex-grow: 1;
  text-align: center;
  
}

.navbar__flex-item:hover {
  color :#1b1b1b;
  background-color: white;
  border-radius: 5%;
  
}


/* navbar creation ends*/



.logo{
  margin: 0;
}


.banner{
  
  background: url(../images/banner-5.jpg) no-repeat top center/cover #1b1b1b;
  color: #fff;
  text-align: center;
  padding: 5em 0;
}

.banner__title {
  font-size: 3em;
  margin: 0 0 .2em;
}

.banner__tagline {
  margin: 0 0 2em;
}

.banner_date {
  display: block;
}

.banner__btn {
  display: table;
  text-decoration: none;
  color: #fff;
  background: hsla(198, 100%, 35%, 0.9);
  padding: 1em 4em;
  margin: 2em auto;
  border-radius: 2%;
  transition: .5s all;
}

.banner__btn:hover{
  font-size: 1.5em;
  background: hsla(198, 100%, 45%, 1);
}

.banner__time {
  font-size: 3em;
  vertical-align: middle;
  margin-left: .1em;
}




.map {
  width: 100%;
}



.section__tagline{
  text-align: center;
  font-size: .9em;
}

.section__title{
  text-align: center;
  position: relative;
}


.section__title::after{
  position: absolute;
  display: block;
  content: ' '; /*INO HATMAN BEZAR TA BEFAHME KE AFTER GOZASHTI TOYE CONTENT SPACE BEZAR*/
  width: 4em;
  height: 5px;
  top: 120%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: hsla(200, 100%, 35%, 1);
}

.project{
  position: relative;
  overflow: hidden;
  width: 20em;
  margin: 2em auto;
}
.project__image{
  display: block;
  width: 100%;
}

.project__caption{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .5em 1em;
  background-color: hsla(0, 0%, 0%, .5);
  color: #fff;
  transform: translate3d(0,100%,0);
  transition: transform .3s ease-in-out;
}


.project:hover .project__caption{
  transform: translate3d(0,0%,0);
}

.project__name{
  margin: 0;
}
.project__description{
  font-size: .8em;
}
.project__menu{
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity .3s ease;
}

.project:hover .project__menu{
  opacity: 1;
}

.project__menu li {
  display: inline-block;
}




.project__action{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: .5em;
}



.project__action--blue{
  background-color: hsla(200, 100%, 35%, 1);
  margin: 0 -6px;
}


.project__action--gray{
  background-color: gray;
}








.footer {
  background-color: #1b1b1b;
  text-align: center;
  color: #fff;
  padding: 1em 0;
}

/* .footer__title {

} */
/* .footer__tagline {

} */
.newsletter {
  border: 2px solid #ccc;
  display: table;
  margin: 0 auto;
  
}
.newsletter__input {
  display: inline-block;
  padding: .5em;
  border: 0;
}
.newsletter__btn {
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  padding: .5em;
  border: 0;

}
.social-links {
  padding: 0;
  margin: 1em 0;
  
}

.social-links li {
  list-style-type: none;
  display: inline-block;
}

.social-link {
  font-size: 2.5em;
  text-decoration: none;
  color: #ccc;
  padding: 0.5em;
  opacity: 0.5;
  transition: .3s opacity;
}

.social-link:hover {
  opacity: 1;
}

/* .copyright {

} */

.contact {
  display: block;
}




.contact__icon {
  display: inline-block;
}
.contact__text {
  display: inline-block;
  white-space: initial;
  line-height: 2em;
}

.contact__row {
  margin: 1em 1em;
  white-space: nowrap;
}

.contact__title {
  display: table;
  margin: 1em 2em;
  padding: 0.5em 0 1em 0;
  border-bottom: 5px solid hsla(198, 100%, 35%, 0.9);
}


.contact_form__title{
  display: table;
  border-bottom: 5px solid hsla(198, 100%, 35%, 0.9);
  margin: 1.5em auto;
  padding: 0.5em 0 1em 0;

}

.contact__input {
  display: block;
  margin: 0.4em 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 90%;
  padding: 1em;
}

.contact__btn{

  
  display: block;
  margin: 0.2em 1em;
  border: 0;
  width: 90%;
  color: #fff;
  background: hsla(198, 100%, 35%, 0.9);
  padding: 1em 4em;
  transition: .2s;
  
  
}

.contact__btn:hover{
  cursor: pointer;
  background: hsla(198, 100%, 45%, 1);
}


.works {
  padding-bottom: 2em;

}
.works__title {
  margin: 0em 2em;
  padding: 1em 0;
}
.works__text {
  margin: 1em 3em;
  color: #838282;
}


.quote {

  overflow: hidden;
  text-align: center;
  padding: 1em 0;
  background: url(../images/banner-16.png) no-repeat top center/cover hsla(198, 100%, 45%, 1);
  color: #fff;
  background-blend-mode: multiply;

}
.quote__title {
  margin: 1em 0 2em 0;
  position: relative;
}

.quote__title::after {
  position: absolute;
  display: block;
  content: ' '; /*INO HATMAN BEZAR TA BEFAHME KE AFTER GOZASHTI TOYE CONTENT SPACE BEZAR*/
  width: 4em;
  height: 5px;
  top: 160%;
  left: 0;
  right: 0;
  margin: .1em auto;
  background-color: white;
}

.quote__figure {
  margin: 3em 0;
}
.quote__image {
  display: block;
  margin: 2em auto;
  width: 20%;
  border: 5px solid white;
  border-radius: 50%;
}
.quote__desc {
  margin: 0;
}
.quote__owner {
  margin: 2em 0 2em 0;

}
.quote__text {
  margin: 0 5em 2em 5em;
}

.quote__btn {
  
  display: inline-block;
  font-size: 2.5em;
  padding: 0 .4em;
  color: white;
  background: transparent;
  text-decoration: none;
  border: 0;
  transition: .2s color;
}

.quote__btn:hover {
  color: #ffffff73;
}

.quote__paginator {

  border: 1px solid white;
  display: inline-block;
}

.text__wrapper {
  position: relative;
}

.quote__icon {
  font-size: 1.5em;
}

.quote__left {
  position: absolute;
  bottom: 120%;
  left: 7%;
  
}

.quote__right {
  position: absolute;
  right: 7%;
  top: 120%;
}